.THIS .removeIcon {
    color: #FFFFFF;
}
.THIS .removeIconBg {
    background-color: #F2463B;
}
.THIS .viewIcon {
    color: #FFFFFF;
}
.THIS .viewIconBg {
    background-color: #5876a3;
}
.THIS .editIcon {
    color: #FFFFFF;
}
.THIS .editIconBg {
    background-color: #3BCF85;
}
.THIS .commentIcon {
    color: #FFFFFF;
}
.THIS .commentIconBg {
    background-color: #E3E32F;
}
.THIS .historyIcon {
    color: #FFFFFF;
}
.THIS .historyIconBg {
    background-color: #FFA454;
}
.THIS .mergeIcon {
    color: #FFFFFF;
}
.THIS .mergeIconBg {
    background-color: #FFD700;
}
.THIS .tableBorderCurve {
    border-collapse:separate;
    border:solid gray 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}
.THIS .tableTRTHCurve {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
  	padding: 10px; 
}
.THIS .removeborder {
    width : 90%;
}
.THIS .divColorVariation {
    background-color: #F8FC70;
}
.THIS .divpcbuttons {
    padding: 10px;
}
.THIS .slds-form-element__label222{
    display: none !important; 
}
.THIS .forceStyle.slds-form.slds-form-element__label222 {    
     display: none !important; 
}
.THIS .floorsetplan{
    width:250px;
}
.THIS .paddingTop{
    padding-top:8%;
    padding-left: 10px;
}
.THIS .taskIcon {
    color: #FFFFFF;
}
.THIS .taskIconBg {
    background-color: green;
}
.THIS .brandcss {
    width:150px;
}
.THIS .pagetypecss {
    width:200px;
}
.THIS.loadSpinner{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}